/* VAR = 1200px */
/* @media screen and (max-width: VAR) {} */
/* ^ this means the css will affect anything BELOW that width */
/* max-width: 1200px => anything under 1200 px */

/* WRITING RESPONSIVE */
/* @media screen and min-width: (screen width) {} */
/*  ^ all css affects anything ABOVE screen width */
/* min-width: 700px => anything above 700px */

/* STARTING MOBILE FIRST */
/* seedling */

.projects-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.project-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [image-start] 50% [image-end] 15% [project-name] 5% [tech-tags] 10% [links] 20% [desc];
  grid-template-areas:
    [image-start] "image" [image-end]
    [image-end] "project-name" [project-name]
    [project-name] "tech-tags" [tech-tags]
    [tech-tags] "links" [links]
    [links] "desc" [desc];
  width: 90%;
  height: 60%;
  margin: 0 0 3em 0;
  background-color: white;
  border: 1px solid rgb(71, 70, 70);
  border-radius: 0.5em;
  justify-items: center;
}

.project-card h4{
    grid-area: "project-name";
    font-size: 5vh;
    justify-self: center;
    align-self: center;
}

.tags {
  display: inline-flex;
  flex-direction: row;
  grid-area: "tech-tags";
  overflow-x: scroll;
  justify-self: center;
}

.tags li {
  list-style: none;
  text-decoration: none;
  background-color: rgba(231, 209, 170, 0.774);
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
}

.links {
  grid-area: "links";
  width: 100%;
  font-size: 105%;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.links a {
  text-decoration: none;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.project-card img {
  grid-area: "image";
  width: auto;
  height: 100%;
  margin-top: 0.5em;
}

.project-card p {
  grid-area: "desc";
  text-align: center;
  width: 80vw;
  height: 5vh;
}

/* proper plant */
@media screen and (min-device-width: 768px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-card {
    width: calc(50% - 3em);
    height: 500px;
    margin: 0 1em 3em 0;
  }
}
