* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(218,186,131,1) 17%, rgba(255,255,255,1) 100%);
}

#logo {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.landing { 
  min-height: 100vh;
  display: flex;
  padding: 0rem 5rem;
}

.landing img{
  width: 35vw;
  height: fit-content;
}

nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.nav-bar li {
  padding: 4rem;
  font-size: 1.2rem;
  height: max-content;
}

.intro {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
}

.slider {
  background: rgb(206, 215, 219);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide{ 
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.landing-profile{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  font-size: 1.75rem;
  padding: 4rem 7rem;
  position: relative;
  height: 50%;
  width: 100%
}

.landing-animation{
  font-size: 3.5rem;
}