* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.landing { 
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.nav-bar li {
  padding: 4rem;
  font-size: 1.2rem;
  height: max-content;
}

.intro {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
}

.slider {
  background: rgb(206, 215, 219);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide{ 
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}